th{
	border-bottom:1px solid gray;
	background:#008000;
	margin-bottom: 22px;
	padding:10px;
	color: #FFFFFF;
	text-align:left;
}

td {
	border-top:1px solid #FFFFFF;
	background:#D2DEEF;
	text-align:left;
}
 
tr {
	border-top:1px solid #FFFFFF;
	background:none repeat scroll 0 0 #EAEFF7;
	text-align:left;
}